# M06 Exercises

DS 5100 | Summer 2024 | Residential

# Set Up

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
np.__version__

'1.24.4'

In [3]:
pd.__version__

'2.0.3'

# Exercise 6.1

Create a dataframe called `df` by passing a dictionary of inputs with the following keys and values:

- `features` containing floats
- `labels` containing integers $0, 1, 2$  

Each value should be a list of four or five elements.

Hint: Pass the dict to `pd.DataFrame()`.

Then print the dataframe.

In [4]:
df = pd.DataFrame({
    'features': [0.2, -1.1, 1.6, 5.4], 
    'labels': [1, 1, 0, 2]
})

In [5]:
df

   features  labels
0       0.2       1
1      -1.1       1
2       1.6       0
3       5.4       2

# Exercise 6.2

Rename the `labels` column in `df` to `label`.

In [6]:
df = df.rename(columns={'labels': 'label'})

In [7]:
df

   features  label
0       0.2      1
1      -1.1      1
2       1.6      0
3       5.4      2

# Exercise 6.3

Import the iris dataset from Seaborn and the sort by species, descending.

Hint: 
```python
iris = sns.load_dataset('iris')
```

In [8]:
iris = sns.load_dataset('iris')

In [9]:
iris.sort_values('species', ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

In [10]:
iris.sort_values('species', ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

# Exercise 6.4

Use `.value_counts()` to find out how many records of each species the dataset has.

In [11]:
iris.species.value_counts().to_frame('n')

             n
species
setosa      50
versicolor  50
virginica   50

In [12]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# Exercise 6.5

Print the number of records in `iris` where `petal_length` $<= 1.4$ or `petal_length` $>= 1.6$  

Hint: Remember how to implement "or" in Pandas.

Hint: Subset using boolean indexing, and count the number of resulting records with `len()` or `.shape[0]`.

In [13]:
len(iris[(iris.petal_length <= 1.4) | (iris.petal_length >= 1.6)])

137

In [14]:
iris[(iris.petal_length <= 1.4) | (iris.petal_length >= 1.6)].shape[0]

137

# Exercise 6.6

Use `.apply()` to append a new column that displays the minimum of (`petal_length`, `petal_width`) for each observation.

Display the head, tail of the new dataframe to check if things look correct.

In [15]:
iris['min_petal'] = iris.apply(lambda x: min(x.petal_length, x.petal_width), axis=1)

In [16]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  min_petal
0           5.1          3.5           1.4          0.2  setosa        0.2
1           4.9          3.0           1.4          0.2  setosa        0.2
2           4.7          3.2           1.3          0.2  setosa        0.2
3           4.6          3.1           1.5          0.2  setosa        0.2
4           5.0          3.6           1.4          0.2  setosa        0.2

In [17]:
iris.tail()

,sepal_length,sepal_width,petal_length,petal_width,species,min_petal
145,6.7,3.0,5.2,2.3,virginica,2.3
146,6.3,2.5,5.0,1.9,virginica,1.9
147,6.5,3.0,5.2,2.0,virginica,2.0
148,6.2,3.4,5.4,2.3,virginica,2.3
149,5.9,3.0,5.1,1.8,virginica,1.8

Bonus

In [18]:
sum(iris.petal_length <= iris.petal_width)

0

In [19]:
iris[['petal_length','petal_width']].idxmin(axis=1).value_counts()

petal_width    150
Name: count, dtype: int64

# Exercise 6.7

Use a pivot table to compute the following statistics on `sepal_width` and `petal_width` grouped by species:

- median  
- mean

These can be computed together in a single call to `pd.pivot_table()`.

In [20]:
pd.pivot_table(iris, 
               values = ["sepal_width", "petal_width"], 
               columns = ["species"], 
               aggfunc = {np.mean, np.median})  # Braces groups rows

species             setosa  versicolor  virginica
petal_width mean     0.246       1.326      2.026
            median   0.200       1.300      2.000
sepal_width mean     3.428       2.770      2.974
            median   3.400       2.800      3.000

In [21]:
pd.pivot_table(iris, 
               values = ["sepal_width", "petal_width"], 
               columns = ["species"], 
               aggfunc = [np.mean, np.median]) # Brackets groups cols

              mean                      median
species     setosa versicolor virginica setosa versicolor virginica
petal_width  0.246      1.326     2.026    0.2        1.3       2.0
sepal_width  3.428      2.770     2.974    3.4        2.8       3.0

In [22]:
pd.pivot_table(iris, 
               values = ["sepal_width", "petal_width"], 
               columns = ["species"], 
               aggfunc = [np.mean, np.median]).T # Brackets groups cols

                   petal_width  sepal_width
       species
mean   setosa            0.246        3.428
       versicolor        1.326        2.770
       virginica         2.026        2.974
median setosa            0.200        3.400
       versicolor        1.300        2.800
       virginica         2.000        3.000

# Exercise 6.8

Create two data frames with a common index column, such as a first name, and a single feature column, such as age or gender or height. 

Make sure:
* The two dataframes have different feature columns.
* Some of the key values in the two columns are shared.
* Each key column has a unique set of values.
* Also make sure the two key columns don't have an identical list of values.

The two tables can be of different lengths.

Use merge to join the tables using an inner join.

Use join to join the tables using an outer join.

In [23]:
left = pd.DataFrame({"key": ["jamie", "bill"], "lval": [15, 22]})
left = left.set_index('key')

In [24]:
left

       lval
key
jamie    15
bill     22

In [25]:
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "rval": [4, 5, 8]})
right = right.set_index('key')

In [26]:
right

       rval
key
jamie     4
bill      5
asher     8

In [27]:
inner = pd.merge(left, right, on="key", how="inner")

In [28]:
inner

       lval  rval
key
jamie    15     4
bill     22     5

In [29]:
outer = left.join(right, how='outer')

In [30]:
outer

       lval  rval
key
asher   NaN     8
bill   22.0     5
jamie  15.0     4

# Exercise 6.9

Create a series with the data $[1, 1, 2, 3, 5, 8]$.

Extract the data from the series in a NumPy array and reshape to $2 \times 3$.  

Print both the reshaped data and its dimensions.

In [31]:
ser = pd.Series([1, 1, 2, 3, 5, 8])
vals = ser.values
resh = vals.reshape(2,3)

In [32]:
resh

array([[1, 1, 2],
       [3, 5, 8]])

In [33]:
resh.shape

(2, 3)

# Exercise 6.10

The dataframe below contains two categoricals. 

Dummify each of them, giving them an appropriate prefix and dropping the first level from each. 

```python
cats = pd.DataFrame({
    'breed':['persian','persian','siamese','himalayan','burmese'], 
    'color':['calico','white','seal point','cream','sable']
})
```

Hint: You can pass a list to the `prefix` parameter to apply prefixes to more than one column.

In [34]:
cats = pd.DataFrame({
    'breed':['persian', 'persian', 'siamese', 'himalayan', 'burmese'], 
    'color':['calico', 'white', 'seal point', 'cream', 'sable']
})

In [35]:
cats

       breed       color
0    persian      calico
1    persian       white
2    siamese  seal point
3  himalayan       cream
4    burmese       sable

In [36]:
cats_combo = pd.get_dummies(cats, prefix=['b','c'])

In [37]:
cats_combo

,b_burmese,b_himalayan,b_persian,b_siamese,c_calico,c_cream,c_sable,c_seal point,c_white
0,False,False,True,False,True,False,False,False,False
1,False,False,True,False,False,False,False,False,True
2,False,False,False,True,False,False,False,True,False
3,False,True,False,False,False,True,False,False,False
4,True,False,False,False,False,False,True,False,False

No prefix

In [38]:
pd.get_dummies(cats)

,breed_burmese,breed_himalayan,breed_persian,breed_siamese,color_calico,color_cream,color_sable,color_seal point,color_white
0,False,False,True,False,True,False,False,False,False
1,False,False,True,False,False,False,False,False,True
2,False,False,False,True,False,False,False,True,False
3,False,True,False,False,False,True,False,False,False
4,True,False,False,False,False,False,True,False,False

In [39]:
pd.get_dummies(cats).T

                      0      1      2      3      4
breed_burmese     False  False  False  False   True
breed_himalayan   False  False  False   True  False
breed_persian      True   True  False  False  False
breed_siamese     False  False   True  False  False
color_calico       True  False  False  False  False
color_cream       False  False  False   True  False
color_sable       False  False  False  False   True
color_seal point  False  False   True  False  False
color_white       False   True  False  False  False