# Metadata

```yaml
Course:   DS 5100
Term:     Fall 2023
Module:   M02 Homework
Author:   R.C. Alvarado
Date:     19 August 2023 (revised)
```

# Student Info

* Name:
* Net ID:
* URL of this file in GitHub:

# Instructions

In your **private course repo on Rivanna**, write a Jupyter notebook running Python that performs the numbered tasks below. For each task, create a code block to perform the task.

Save your notebook in the `M02` directory as `hw02.ipynb`. 

Add and commit these files to your repo. 

Then push your commits to your repo on GitHib.

Be sure to fill out the **Student Info** block above.

To submit your homework, save the notebook as a PDF and upload it to GradeScope, following the instructions.

**10 Points**

# Data

```
Table 1: GRADES

name    grade
Jon     95
Mike    84
Jaime   99


Table 2: TOUCHDOWNS

name    touchdowns
Alex    2
Patrick 4
Tom     1
Joe     3
Alex    1
```

# Tasks

## Task 1

Using the data in Table 1, create a dictionary called `gradebook` where the keys contain the names and the values are the associated grades. Print the dictionary.  (1 PT)

In [1]:
# Put code here

In [2]:
gradebook = {
    'Jon': 95,
    'Mike': 84,
    'Jaime': 99
}

In [3]:
print(gradebook)

{'Jon': 95, 'Mike': 84, 'Jaime': 99}

## Task 2 

Index into the gradebook to print Mike's grade. Do NOT use the `get()` method for this. (1 PT)

In [4]:
# Put code here

In [5]:
print(gradebook['Mike'])

84

## Task 3

Attempt to index into gradebook to print Jeff's grade. Show the result. Do NOT use the `get()` method for this. (1 PT)

In [6]:
# Put code here

In [7]:
print(gradebook['Jeff'])

KeyError: 'Jeff'

## Task 4

Using Table 2, build a list from the names called `names` and print it. (1 PT)

In [8]:
# Put code here

In [9]:
names = ['Alex', 'Patrick', 'Tom', 'Joe', 'Alex']

In [10]:
print(names)

['Alex', 'Patrick', 'Tom', 'Joe', 'Alex']

## Task 5

Sort the list in ascending order and print it. (1 PT)

In [11]:
# Put code here

In [12]:
print(sorted(names))

['Alex', 'Alex', 'Joe', 'Patrick', 'Tom']

## Task 6 

Build a set from the names in Table 2 and print it. (1 PT)

In [13]:
# Put code here

In [14]:
print(set(names))

{'Alex', 'Patrick', 'Tom', 'Joe'}

## Task 7

Build a dictionary from the touchdowns data, calling it `td`, and print it. Use lists to store the values. Remember that dictionary keys must be unique. (1 PT)

In [15]:
# Put code here

In [15]:
td = {
    'Alex': [2, 1],
    'Patrick': [4],
    'Tom': [1],
    'Joe': [3]
}

In [16]:
td

{'Alex': [2, 1], 'Patrick': [4], 'Tom': [1], 'Joe': [3]}

Automatic population:

In [10]:
td_data = """
Alex    2
Patrick 4
Tom     1
Joe     3
Alex    1
""".split("\n")[1:-1]
td_data

['Alex    2', 'Patrick 4', 'Tom     1', 'Joe     3', 'Alex    1']

In [17]:
td_dict = {}
for row in td_data:
    name, n = row.split()
    if name not in td_dict.keys():
        td_dict[name] = []
    td_dict[name].append(int(n))
td_dict

{'Alex': [2, 1], 'Patrick': [4], 'Tom': [1], 'Joe': [3]}

## Task 8

Compute the sum of Alex's touchdowns using the appropriate built-in function.

In [18]:
# Put code here

In [19]:
sum(td['Alex'])

3

## Task 9

Get the keys from `td` and save them as a sorted list `list1`. Then get a set from `names` and save them as a sorted list called `list2`. Compare them with a boolean operator to see if they are equal. (2 PTS)

In [20]:
# Put code here

In [34]:
list1 = sorted(list(td.keys()))
list2 = sorted(list(set(names)))

In [40]:
# set(names), list(set(names)), sorted(list(set(names)))

In [35]:
list1 == list2

True

In [23]:
list1

['Alex', 'Joe', 'Patrick', 'Tom']

In [24]:
list2 = set(names)

In [25]:
list2

{'Alex', 'Joe', 'Patrick', 'Tom'}

In [26]:
type(list2)

set

In [27]:
list1 == list2

False

In [28]:
list1 == sorted(list2)

True

In [29]:
type(sorted(list2))

list